<h2 class="row my-2 justify-content-center">Dashboard</h2>
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-4 formbox-date">
            <form action='/pastQ' method='POST'>
                <input type='date' name='date'>
                <button type='submit' class="btn btn-dark p-1 mb-1">Submit</button>
            </form>
        </div>
        <div class="col-4 text-right">
            <a href="/appointment">
                <button type='submit' class="btn btn-outline-dark p-2 my-2">Add Appointment</button>
            </a>
        </div>
    </div>
</div>

<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Waiting list</caption>
    <table class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each appointments}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>{{this.email}}</td>
                <td>
                        <a href="/dashboard/to_room/{{this._id}}">
                            <button class="btn p-1">TO ROOM</button>
                        </a>
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}">
                            <button class="btn p-1">DELETE</button>
                        </a>
                   
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>

<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Attending</caption>
    <table class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each inProgress}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>{{this.email}}</td>
                <td>
                        <a href="/dashboard/done/{{this._id}}">
                            <button class="btn p-1">DONE</button>
                        </a>
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}/{{../_id}}">
                            <button class="btn p-1">DELETE</button>
                        </a>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>


<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Done</caption>
    <table class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each appointments_done}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>{{this.email}}</td>
                <td>
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}/">
                            <button class="btn p-1">DELETE</button>
                        </a>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>