<h2 class="row my-2 justify-content-center">Dashboard</h2>
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-6 formbox-date">
            <form action='/pastQ' method='POST'>
                <input type='date' name='date'>
                <button type='submit' class="btn btn-dark p-1 mb-1">Submit</button>
            </form>
        </div>
        <div class="col-6 text-right">
            <button id="addButton" type='submit' class="btn btn-outline-dark p-2 my-2">Add Appointment</button>
        </div>
    </div>
</div>
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}

<div>
    <div id="form" class="form-appointment">
        <form class=" " id="add-appointment" action='/appointment' method='POST'>
            <div class="formbox-appointment">
                <label for=''>Name</label>
                <input id="fName" type='text' name='fName'>
            </div>
            <div class="formbox-appointment">
                <label for=''>L.name</label>
                <input id="lName" type='text' name='lName'>
            </div>
            <div class="formbox-appointment">
                <label for=''>Email</label>
                <input id="email" type='text' name='email'>
            </div>
            <div class="formbox-appointment">
                <label for="">Tags</label>
                <input type="text" name="tags" id="tags-input" />
            </div>
            <!-- THis is hidden input used to send string of tags to server -->
            <input type="text" id="tags-list" name="tagsList" style="display: none" />

            <div class="formbox-appointment">
                <ul id="tags"></ul>
            </div>

            <div class="formbox-appointment">
                <label for=''>Is urgent</label>
                <input id="isUrgent" type=checkbox name=isUrgent value='true'>
            </div>
            <div class="formbox-appointment-radio">
                <input type="radio" id="waiting" name="status" value="waiting" checked>
                <label for="waiting">Waiting</label><br>
            </div>
            <div class="formbox-appointment-radio">
                <input type="radio" id="attending" name="status" value="attending">
                <label for="attending">Attending</label><br>
            </div>
            <div class="formbox-appointment-radio">
                <input type="radio" id="attended" name="status" value="attended">
                <label for="attended">Attended</label>
            </div>
            <button type='submit' id='noenter' class="btn btn-black text-white py-3 my-3 btn-block">Add
                Appointment</button>
        </form>
    </div>
</div>
<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Waiting list</caption>
    <table id="waiting-table" class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col" class="d-none d-md-block">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        <tbody id="collapseOne" class="collapse show">
            {{#each appointments}}
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>
                    {{#each this.tags}}
                    {{" "}}{{this}}
                    {{/each}}
                </td>
                <td class="d-none d-md-block">{{this.email}}</td>
                <td>
                    <a href="/dashboard/to_room/{{this._id}}">
                        <button class="btn p-1">TO ROOM</button>
                    </a>
                    <a href="/dashboard/delete/{{this._id}}/{{this.status}}">
                        <button class="btn p-1">DELETE</button>
                    </a>

                </td>
            </tr>
            {{/each}}
        </tbody>
        {{/each}}
    </table>
</div>

<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Attending</caption>
    <table id="attending-table" class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col" class="d-none d-md-block">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        <tbody id="collapseTwo" class="collapse show">
            {{#each inProgress}}
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>
                    {{#each this.tags}}
                    {{" "}}{{this}}
                    {{/each}}
                </td>
                <td class="d-none d-md-block">{{this.email}}</td>
                <td>
                    <a href="/dashboard/done/{{this._id}}">
                        <button class="btn p-1">DONE</button>
                    </a>
                    <a href="/dashboard/delete/{{this._id}}/{{this.status}}">
                        <button class="btn p-1">DELETE</button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        {{/each}}
    </table>
</div>


<div class="container dashboard-table table-responsive py-3">
    <caption class="py-2">Done</caption>
    <table id="done-table" class="table table-sm table-hover">
        <thead class='bg-light '>
            <tr data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">tags</th>
                <th scope="col" class="d-none d-md-block">email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        <tbody id="collapseThree" class="collapse">
            {{#each appointments_done}}
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>
                    {{#each this.tags}}
                    {{" "}}{{this}}
                    {{/each}}
                </td>
                <td class="d-none d-md-block">{{this.email}}</td>
                <td>
                    <a href="/dashboard/delete/{{this._id}}/{{this.status}}/">
                        <button class="btn p-1">DELETE</button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        {{/each}}
    </table>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/src/appointment.js"></script>