<div class="container">

    <form action='/pastQ' method='POST'>

        <div class="formbox-date">
            <input type='date' name='date'>
        </div>
        <div class="button-date my-4">
            <button type='submit' class="black-button">Submit</button>
        </div>
    </form>
</div>

<div class="container dashboard-table table-responsive">
    <caption>Waiting list</caption>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col">tags</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each appointments}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>{{this.email}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>
                    <div class="dashboard-buttons">
                        <a href="/dashboard/to_room/{{this._id}}">
                            <button class="btn">TO ROOM</button>
                        </a>
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}">
                            <button class="btn">DELETE</button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>

<div class="container dashboard-table table-responsive">
    <caption>Attending</caption>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col">tags</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each inProgress}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>{{this.email}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>
                    <div class="dashboard-buttons">
                        <a href="/dashboard/done/{{this._id}}">
                            <button class="btn">DONE</button>
                        </a>
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}/{{../_id}}">
                            <button class="btn">DELETE</button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>


<div class="container dashboard-table table-responsive">
    <caption>Done</caption>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col">tags</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each appointments_done}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>{{this.email}}</td>
                {{#each this.tags}}
                <td>{{this}}</td>
                {{/each}}
                <td>
                    <div class="dashboard-buttons">
                        <a href="/dashboard/delete/{{this._id}}/{{this.status}}/{{../_id}}">
                            <button class="btn">DELETE</button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
</div>