<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">


  <title>QHOPS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!--Navbar-->
  <nav class="navmobile navbar navbar-light white mb-4">
    <div class=" col-12 row justify-content-between">
      <div class="col">
        <!-- Navbar brand -->
        <a href="/"> <img src="/images/qhops-logo.png" class='logo' alt="logo"></a>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent20">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-item">
              <a class="nav-link" href="/profile">
                {{#if admin.picture.image_url}}
                <img src="{{admin.picture.image_url}}" class="profile-img-nav" alt="profile_picture">
                {{else}}
                <img src="https://img.icons8.com/pastel-glyph/2x/person-male.png" class="profile-img-nav"
                  alt="profile_picture">
                {{/if}}
              </a>

            <li class="nav-item">
              <a class="nav-link" href="/dashboard">dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rooms">rooms<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publicQ">publicQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">logout</a>
            </li>
          </ul>
          <!-- Links -->

        </div>
      </div>
      <div class="col-1 align-right">


        <!-- Collapse button -->
        <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent20" aria-controls="navbarSupportedContent20" aria-expanded="false"
          aria-label="Toggle navigation">
          <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
      </div>
    </div>

    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
  <nav class="navdesktop container my-5">
    <div class="row">
      <div class="col-2">
        <a href="/"> <img src="/images/qhops-logo.png" class='logo' alt="logo"></a>
      </div>

      <div class="col-10 mt-1">
        <div class="text-right">
          <a href="/dashboard">
            <button class="navbar-button m-1">dashboard</button>
          </a>
          <a href="/rooms">
            <button class="navbar-button m-1">rooms</button>
          </a>
          <a href="/publicQ">
            <button class="navbar-button">publicQ</button>
          </a>
          </a>
          <a href="/auth/logout">
            <button class="navbar-button m-1">logout</button>
          </a>
          <a href="/profile">
            {{#if admin.picture.image_url}}
            <img src="{{admin.picture.image_url}}" class="profile-img-nav" alt="profile_picture">
            {{else}}
            <img src="https://img.icons8.com/pastel-glyph/2x/person-male.png" class="profile-img-nav"
              alt="profile_picture">
            {{/if}}
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{{body}}}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
  <script src="/src/hamburger.js"></script>
</body>

</html>