<h1 class="container text-center my-3">Attended Patients</h1>
<h1 class="container text-center my-3">{{pickedDate}} </h1>

<div class="container dashboard-table table-responsive">
    <caption>Done list</caption>
    <table class="table my-4 table-hover ">
        <thead>
            <tr class="bg-light">
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col">tags</th>
            </tr>
        </thead>
        {{#each queue}}
        {{#each appointments_done}}
        <tbody>
            <tr>
                <th scope="row">{{this.code}}</th>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>{{this.email}}</td>
                <td>
                    {{#each this.tags}}
                    {{this}}
                    {{/each}}
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/each}}
    </table>
    {{#if errorMessage}}
    <div class="error-message"> {{errorMessage}} </div>
    {{/if}}
</div>