<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 dashboard-table">
            <div class="text-center">
                {{#if admin.picture.image_url}}
                <img src="{{admin.picture.image_url}}" class="profile-img" alt="profile_picture">
                {{else}}
                <img src="https://img.icons8.com/pastel-glyph/2x/person-male.png" class="profile-img-nav"
                    alt="profile_picture">
                {{/if}}
            </div>
            <div class="text-center">
                <form action="/profile-picture" method="POST" enctype="multipart/form-data">
                    <input type="file" name="photo" id="img" style="display:none;" />
                    <label for="img" class="btn btn-dark p-1 my-2">upload image</label>
                    <button type="submit" class="btn btn-dark p-1 my-2">Update photo</button>
                    <h3 class="text-center"> name: {{name}}</h3>
                    <h3 class="text-center"> email: {{admin.email}}</h3>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container dashboard-table table-responsive">
    <table class="table table-hover my-3">
        <thead>
            <tr>
                <th class="text-center" scope="col"> </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="text-left">name: {{name}}</td>

            </tr>
            <tr>

                <td class="text-left">email: {{admin.email}}</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-hover my-3">

        <thead>
            <tr>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each queue}}
            {{#each appointments}}
            <tr>
                <td class="text-center">{{this.code}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
</div>
</div>